uxwb-input, uxwb-list {
  margin: 10px;
}

uxwb-list {
  width: 200px;
}

.pre {
  white-space: pre-line;
}

.pallet {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  margin: 0;
  box-shadow: 0 0 20px grey;

  .c {
    height: 10px;
  }
}
